<div class="card" style="width: 18rem;">
  <div class="card-header text-center">
    Who to Follow
  </div>
  <% @users.where.not(id: current_user.id).take(10).each do |user| %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to "/users/#{user.id}" do %>
      <% if user.avatar.persisted? %>
        <%= image_tag user.avatar, height: 30, width: 30, class: "rounded-circle" %>
      <% end %>
      <strong>@<%= user.username %></strong>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>